@model CityFormModel
@{
    if (Model.Data == null)
    {
        ViewData["Title"] = "Şehir Ekle";
    }
    else
    {
        ViewData["Title"] = "Şehir Güncelle";
    }
}

<h2>@ViewData["Title"]</h2>


<form method="post">
    <input type="hidden" asp-for="Data.ID" />

    <div class="form-group">
        <label asp-for="Data.CityName">Şehir Adı</label>
        <input asp-for="Data.CityName" class="form-control" />
        <span asp-validation-for="Data.CityName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.CountryID">Ülke</label>
        <select asp-for="Data.CountryID" class="form-control">
            <option value="">Seçiniz</option>
            @foreach (var Item in Model.CountryList)
            {
                <option value="@Item.ID">@Item.CountryName</option>
            }
        </select>
        <span asp-validation-for="Data.CountryID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.CancelID">İptal Nedeni</label>
        <select asp-for="Data.CancelID" class="form-control">
            <option value="">Seçiniz</option>
            @foreach (var Item in Model.CancelList)
            {
                <option value="@Item.ID">@Item.CancelName</option>
            }
        </select>
        <span asp-validation-for="Data.CancelID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" text="Kaydet" />
        <a asp-controller="City" asp-action="Index">İptal</a>
    </div>

</form>