@model CityListModel

@{
    ViewData["Title"] = "Şehir Listesi";
}

<div>
    <h2>Şehir Listesi</h2>
    @if (Model.InsertPermission)
    {<a asp-controller="City" asp-action="form">Şehir Ekle</a>}
</div>

@{Html.RenderPartial("~/Views/Partials/PartialFilter.cshtml", Model.ListProps);}

@if (Model.DataList.Count() == 0)
{
    <div class="norecordlist">Kayıt Bulunamadı</div>
}
else
{
    <table>
        <tr>
            <th>ID <span class="orderspan" colname="ID">X</span></th>
            <th>Ülke Adı <span class="orderspan" colname="CountryID">X</span></th>
            <th>Şehir Adı <span class="orderspan" colname="CityName">X</span></th>
            <th>İptal Nedeni</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var data in Model.DataList)
        {
            <tr>
                <td>@data.ID</td>
                <td>@data.Country.CountryName</td>
                <td>@data.CityName</td>
                <td>@(data.Cancel != null ? data.Cancel.CancelName : "")</td>
                <td>
                    @if (data.Permissions.Update)
                    {<a asp-action="form" asp-route-id="@data.ID">Düzenle</a>}
                    @if (data.Permissions.View)
                    {<a asp-action="view" asp-route-id="@data.ID">Detay</a>}
                    @if (data.Permissions.Delete)
                    {<a asp-action="delete" asp-route-id="@data.ID" class="button_delete">Sil</a>}
                </td>
            </tr>
        }
    </table>
}

