@model UserListModel


@{
    ViewData["Title"] = "Kullanıcı Listesi";
}

<div>
    <h2>Kullanıcı Listesi</h2>
    @if (Model.InsertPermission)
    {<a asp-controller="User" asp-action="form">Kullanıcı Ekle</a>}
</div>

@{Html.RenderPartial("~/Views/Partials/PartialFilter.cshtml", Model.ListProps);}


@if (Model.DataList.Count() == 0)
{
    <div class="norecordlist">Kayıt Bulunamadı</div>
}
else
{
    <table>
        <tr>
            <th>ID <span class="orderspan" colname="ID">X</span></th>
            <th>Ad <span class="orderspan" colname="Name">X</span></th>
            <th>Soyad <span class="orderspan" colname="Surname">X</span></th>
            <th>E-Mail <span class="orderspan" colname="EMail">X</span></th>
            <th>Rol <span class="orderspan" colname="UserRole">X</span></th>
            <th>Online <span class="orderspan" colname="IsLogin">X</span></th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var data in Model.DataList)
        {
            <tr>
                <td>@data.ID</td>
                <td>@data.Name</td>
                <td>@data.Surname</td>
                <td>@data.EMail</td>
                <td>@data.UserRole.RoleName</td>
                <td>@(data.IsLogin ? "Evet" : "Hayır")</td>
                <td>
                    @if (data.Permissions.Update)
                    {<a asp-action="form" asp-route-id="@data.ID">Düzenle</a>}
                    @if (data.Permissions.View)
                    {<a asp-action="view" asp-route-id="@data.ID">Detay</a>}
                    @if (data.Permissions.Delete)
                    {<a asp-action="delete" asp-route-id="@data.ID" class="button_delete">Sil</a>}
                </td>
            </tr>
        }
    </table>
}


